@import '../../scss/vars.scss';
.Btn {
  background-color: $primary;
  border: none;
  color: $white;
  height: 4em;
  margin-right: 8px;
  width: 6em;
}

.Btn--outline {
  border: 1px solid $primary;
  background-color: transparent;
}
