/* Colors */
.Btn {
  background-color: #7647a2;
  border: none;
  color: #FFFFFF;
  height: 4em;
  margin-right: 8px;
  width: 6em; }

.Btn--outline {
  border: 1px solid #7647a2;
  background-color: transparent; }
