/* Colors */
.Users {
  flex-basis: 100%;
  padding: 20px;
  margin-bottom: 40px; }

.Users-list {
  border: 1px solid #7647a2;
  display: flex;
  flex-wrap: wrap; }

.Users-item {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  padding: 40px 20px; }
  .Users-item:not(:last-of-type) {
    border-bottom: 1px solid #7647a2; }

.Users-groceries {
  flex-basis: 100%; }

.Users-groceriesItem {
  padding: 16px;
  position: relative; }
  .Users-groceriesItem:after {
    background-color: #7647a2;
    display: block;
    content: "";
    height: 4px;
    width: 4px;
    position: absolute;
    top: 45%;
    left: 0; }

.Users-name {
  display: inline-block;
  margin-bottom: 8px;
  margin-right: auto; }

.Users-count {
  background-color: #7647a2;
  border-radius: 50%;
  padding: 8px 12px;
  margin-left: 8px; }

.Users-actions {
  flex-basis: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end; }
